{% extends "base/base.html" %}
{% load staticfiles %}

	{% block titulo %}
		<title>descripcion producto</title>
	{% endblock titulo %}
	
	{% block contenido %}
	<h1 style="padding-top: 30px" align="center">Descripción del Producto</h1><br><br>
		<div class="container border border-dark" align="left" style="width: 600px; height: 350px"><br><br>
			<div class="row">
				<div class="col">
					<a title="imagen_link" href="{% url 'Productos:descripcion' producto.id %}"><img src="{{producto.imagen.url}}" class="rounded" height="200" width="250" alt="imagen_link"></a>
				</div>
				<div class="col">
					<h5 class="lead"><strong>Nombre:</strong> {{producto.nombre}}</h5>
					<h5 class="lead"><strong>Descripción:</strong> {{producto.descripcion}}</h5>
					<h5 class="lead"><strong>Precio:</strong> {{producto.precio}} C/U</h5><br>
					<a href="{% url 'Productos:pedido' producto.id %}" class="btn btn-primary">Realizar Pedido</a>
					<a href="{% url 'Productos:visualizar' %}" class="btn btn-secondary">Regresar</a>
				</div>
			</div>
		</div>
	{% endblock contenido %}