{% extends "base/base.html" %}
{% load staticfiles %}


	{% block titulo %}
		<title>Home</title>
	{% endblock titulo %}
	
	
	{% block contenido %}
		<h1 align="center" style="padding-top: 30px">Bienvenido al sistema de pedidos</h1><br>
		{% if productos%}
			<div class="container border border-dark" align="center" style="width: 800px"><br><br>
				{% for producto in productos  %}
					<div class="row">
						<div class="col">
							<a title="imagen_link" href="{% url 'Productos:descripcion' producto.id %}"><img src="{{producto.imagen.url}}" alt="imagen_link" width="200" height="150"></a>
						</div>
						<div class="col text-left">
							<h5 class="lead"><strong>Nombre:</strong> {{producto.nombre}}</h5>
							<h5 class="lead"><strong>Descripción:</strong> {{producto.descripcion}}</h5>
							<h5 class="lead"><strong>Precio por unidad:</strong> {{producto.precio}}</h5><br>
							<a href="{% url 'Productos:pedido' producto.id %}" class="btn btn-primary">Realizar Pedido</a>
						</div>
					</div><br><br><br>
				{% endfor %}
		{% else %}
			<h4 class="lead">No tienes productos para mostrar</h4>
		{%endif%}
		<a href="/" class="btn btn-secondary">Regresar</a><br><br>
		</div><br><br>
	{% endblock contenido %}

